@page "/bank"

@using BankCode;


<PageTitle>Bank</PageTitle>



<h1>Bankaccount von @account.Owner</h1> 

<h4 align="right">Kontostand: @account.Balance</h4>


<EditForm Model="@eingabe" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <thead>
                <tr>
                    <th>Buchungsart</th>
                    <th>Betrag</th>
                    <th>Notiz</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td>
                        <InputSelect id="Buchungsart" @bind-Value="eingabe.einzahlung">
                            <option value="true">Einzahlung</option>
                            <option value="false">Auszahlung</option>
                        </InputSelect>
                        <ValidationMessage For="() => eingabe.einzahlung" />
                    </td>
                    <td> 
                        <InputNumber id="Betrag" @bind-Value="eingabe.Betrag"></InputNumber>
                    </td>
                    <td>
                        <InputText id="Geboren" @bind-Value="eingabe.Notiz"></InputText>  
                    </td>
                    <td>
                        <button class="btn btn-primary" type="submit">Verbuchen</button>
                    </td>
                </tr> 
            </tbody>
    </table>

</EditForm>

<br>
<br>



<table class="table">
    <thead>
        <tr>
            <th>Betrag</th>
            <th>Notiz</th>
            <th>Buchungsdatum</th>
        </tr>
    </thead>
    <tbody>
    @foreach(Transaction item in account.allTransactions)
        {
            <tr>
                <td>@item.Amount</td>
                <td>@item.Notes</td>        
                <td>@item.Date </td>
            </tr> 

        }    
    </tbody>
</table>   



@code{ 

    private BankAccount account = new BankAccount("Ulf",1000);
    private Eingabe eingabe = new Eingabe();


    private void HandleValidSubmit()
    {
        if (eingabe.einzahlung) account.MakeDeposit(eingabe.Betrag, DateTime.Now, eingabe.Notiz);
            else account.MakeWithdrawal(eingabe.Betrag, DateTime.Now, eingabe.Notiz);
    } 

    private void HandleInvalidSubmit()
    {
        //
    } 


}