@page "/"

@using System.Globalization;


<PageTitle>Index</PageTitle>

<h1>Web Benutzeroberfläche</h1>
<br>
<h4>Hier sollen verschiedene Unterseiten mit Frontends zur Bedienung von c#-Programmen entstehen...</h4>
<br>

<br>
<h5>Die aktuelle Kultur: ist @CultureInfo.CurrentCulture.Name</h5>
<h5>Die aktuelle UI-Kultur ist: @CultureInfo.CurrentUICulture.Name</h5>
<br>
<h5>Datum und Urzeit in der aktuellen Kultur: @DateTime.Now</h5>
<br><br>
<h5>Kultur und UI-Kultur werden geändert...</h5>

@code{
    //CultureInfo.CurrentCulture = new CultureInfo("de-DE", true);
    //CultureInfo.CurrentUICulture = new CultureInfo("de-DE", true);
} 

<br>
<h5>Die aktuelle Kultur ist: @CultureInfo.CurrentCulture.Name</h5>
<h5>Die aktuelle UI-Kultur ist: @CultureInfo.CurrentUICulture.Name</h5>
<br>
<h5>Datum und Urzeit in der aktuellen Kultur: @DateTime.Now</h5>
